<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.compose.variants.SharedBoundsComposeActivity"
            android:label="SharedBounds"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
    </application>
</manifest>